@font-face {
	font-family: old_sans_black;
	src: url('fonts/OldSansBlack.otf');
}

body {
	background-image: url('img/background.png');
	background-attachment: fixed;
	font-family: old_sans_black;
}

h1 {
	margin: 0;
	font-size: 40px;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: black;
}

input:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

.login-display-name {
	font-family: old_sans_black !important;
}

.login-button {
	border-radius: 0px !important;
	border: none !important;
	background-color: #b1b1b1 !important;
	font-family: old_sans_black !important;
	color: black !important;
	font-size: 15px !important;
}

#present_submit_dialog, #present_moderator_view {
	/*float: right;*/

}

#title {
	float: left;
}

header > div {
	background-color: rgba(255, 255, 255, .8);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	overflow: auto;
}

header span {
	cursor: pointer;
}

#upper_header {
	/*font-size: 20px;*/
}

#left_upper_header {
	float: left;
}

#right_upper_header {
	float: right;
}

#lower_header {
	overflow: auto;
}

#left_lower_header {
	float: left;
}

#right_lower_header {
	float: right;
}

#post_container {
	margin-left: 5%;
	margin-right: 2%;
}

div.post {
	background-color: rgba(255, 255, 255, .8);
	width: 43%;
	float: left;
	vertical-align: top;
	margin: 2%;
	padding: 8px;
}

.post_title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 5px;
}

.post_body {
	font-family: Helvetica;
}

.button, .like_counter {
	background-color: #b1b1b1;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;

	padding: 4px;
}

.like_counter {
	cursor: default;
}

.timestamp {
	font-family: Helvetica;
	font-size: 14px;
	float: right;
}

.comment_input {
	border: none;
	height: 30px;
	width: 85%;
}

.comment {
	float: right;
}

.dividing_group {
	margin-bottom: 5px;
}

#submit_dialog {
	display: none;
	position: fixed;
	background-color: white;
	width: 60%;
	height: 60%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	z-index: 10;
}

#submission_body {
	width: 90%;
	height: 250px;
}

#blk_background {
	display: none;
	z-index: 5;
	background-color: black;
	opacity: .6;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.submit {
	float: right;
}

.exit_button {
	float: right;
}

.comment_details {
	background-color: rgba(255, 255, 255, .8);
	padding: 5px;
	margin-bottom: 10px;
	font-family: Helvetica;
	min-height: 35px;
	overflow: auto;
}

.star {
	float: right;
	cursor: pointer;
}

#moderator_view {
	display: none;
}

#moderator_view .moderator_post {
	background-color: rgba(255, 255, 255, .8);
	width: 80%;
	min-height: 130px;
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 8px;
}

.post_details, .moderator_details {
	float: left;
	padding: 10px;
}

.post_details {
	width: 60%;
}

.moderator_details {
	width: 35%;
}

.vr {
	border-left: 1px solid #000;
	height: 100px;
	display: inline;
	float: left;
}

.approve, .reject {
	float: left;
	margin-left: 10px;
	padding: 6px;
	cursor: pointer;
}

.approve {
	background-color: #5e8d75;
}

.reject {
	background-color: #914545;
}

.seemore {
	display: none;
	cursor: pointer;
}

.content_warning_shield {
	background-color: #a84848;
	width: 98%;
	height: 80px;
	padding: 1%;
}