<template name="header">
	<header>
		<div id="upper_header">
			<h1>Claremont Confessions</h1>
			<span id="present_submit_dialog">Submit</span>
		</div>
		<div id="lower_header">
			<span id="left_lower_header">
				<div class = "button">
					<span id="latest">Latest</span>
				</div>
					&nbsp;
				<div class = "button">
					<span id="top">Top</span>
				</div>
					&nbsp;
				<div class = "button">
					<span id="starred">Starred</span>
				</div>
			</span>
			<span id="right_lower_header">
				{{> loginButtons }}
			</span>
		</div>
	</header>
</template>