<template name="header">
	<header>
		<div id="upper_header">
			<span id="left_upper_header">
				<span id="title"><h1><a href="#" onclick="window.location.reload(true);">Claremont Confessions</a></h1></span>
			</span>
			<span id="right_upper_header">
				{{#if currentUser.is_admin}}
					<span id="present_moderator_view" class="button">Moderate</span>
				{{/if}}
				<span id="present_submit_dialog" class="button">Submit</span>
			</span>
		</div>
		<div id="lower_header">
			<span id="left_lower_header">
				<span id="latest" class="button">Latest</span>
				&nbsp;
				<span id="top" class="button">Top</span>
				&nbsp;
				<span id="starred" class="button">Starred</span>
			</span>
			<span id="right_lower_header">
				{{> loginButtons }}
			</span>
		</div>
	</header>
</template>