<template name="post">
	<div class="post">
		<span class="post_title">#{{ post_number }} {{ title }}</span>
		<div class="dividing_group">
			<span class="post_body">
				{{ body }}
			</span>
		</div>
		<div class="dividing_group">
			<div class="unlike button" style="display: {{ has_unliked }}">
				Unlike
			</div>
			<div class="like button" style="display: {{ has_liked }}">
				Like
			</div>
			<div class="like_counter">
				{{ was_liked_by.length }}
			</div>
			<div class="timestamp">
				{{ timestamp }}
			</div>
		</div>
		<div class="dividing_group">
			{{#each comments}}
				{{> comment}}
			{{/each}}
		</div>
		<div class="dividing_group">
			<input type="text" class="comment_input">
			<div class="comment button">
				Comment
			</div>
		</div>
	</div>
</template>